body {
    background-color: #b1388b;

}
button {
    font-size: 1.3em;
    font-weight: bold; 
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    opacity: 0.33;
}
.main-container {
    padding: 15px;
    padding-bottom: 25px;
    margin: 50px auto;
    display: grid;
    background-color: #353333;
    border-radius: 10px;
    height: 500px;
    width: 350px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.calc-container {
    border-radius: 20px;
    background-color: #2b2828;
    padding: 10px;
}
.calc-input {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    background-color: lightgray;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    height: 50px;
    width: 291px;
    font-family: sans-serif;
    
}

.calc-buttons {
    display: grid;
    height: 400px;
    width: 300px;
    border: none;
    grid-template-rows: repeat(5, minmax(40px, 1fr));
    grid-template-columns: repeat(4, minmax(40px, 1fr));
    grid-gap: 0.5em;
    padding-top: 0.7em;
    padding-bottom: 0.5em;
}

.calc-input .prev-number{
    font-size: 1rem;
    color: #646D6D;
}
.calc-input .current-number{
    font-size: 2rem;
    color: #3D4849;
}
.operator {
    color: rgb(158, 235, 43);
    background-color: #5c5b5b;
}

.clear-btn, .delete-btn, .equal-btn {
    color: rgb(158, 235, 43);
    background-color: #5c5b5b;
}

.zero-btn{
    grid-column: 1 / span 2;
    grid-row: 5;
   
}

.equal-btn{
    grid-row: 4 / span 2;
    grid-column: 4;
}

.number {
    background-color: #bbb8b8;
    color: #bd0382;
}

